@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
@accent-color: #ff8500;

body, label, .checkbox label {
	font-weight: 300;
}

.top-menu {
	border-top: 4px solid @accent-color;
}

